*.class
mgmt/WebContent/WEB-INF/classes
.idea
mgmt/classes
*.iml
/sponge-dw/mgmt/classes/artifacts/DW_war_exploded/webpage/system/user/changepassword.jsp
mgmt/war
mgmt/classes/artifacts/DW_war_exploded